.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-right {
  text-align: right;
}

.invalid-input {
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}

.product-list {
  text-align: center;
  margin-top: 50px;
}

.product-list ul {
  margin: 0px;
}

.product-list ul li {
  display: inline-block;
  width: 150px;
  border: 1px solid skyblue;
  padding: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.inputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.register,
.product {
  margin-left: 30%;
  margin-top: 7%;
  margin-right: 40%;
  /* border: 1px solid rgb(32, 14, 14); */
  /* padding: 20px 20px 20px 20px; */
  background-color: skyblue;

}

.appButton {
  /* background-color: greenyellow; */
  color: rgb(170, 18, 18);
  align-items: center;
  /* display: block; */
  margin-left: 43%;
}

h1 {
  text-align: center;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 38px;
  padding-left: 30px;
  border: 1px solid skyblue;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}